extends layout.pug

block content

  article.portfolio-intro


    h1 My Portfolio


    p The purpose of this portfolio is to showcase the projects that I've been created. 


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects 
      

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`static/images/Project-${project.id}-550x550x.png`, alt='Project preview')
            h5 #{project.project_name}

