extends layout.pug

block content

  
  h1 Uht oh we it is a #{error.status}
  h1 What this means is that #{error.message}...maybe search again?
  
  

  

  nav.nav
      a(href='/')
        span &larr;
        |  Take me back!